<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fakestrgam">

    <uses-feature
        android:name="android.hardware.Camera"
        android:required="true" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".Checkpost"
                  android:label="Comments"></activity>
        <activity
            android:name=".Globalgallery"
            android:label="Global"></activity>
        <activity
            android:name=".Profile_nav"
            android:label="Profile" />
        <activity
            android:name=".caption"
            android:parentActivityName=".Profile">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Profile" />
        </activity>
        <activity android:name=".ZoominPic" />
        <activity
            android:name=".Profile"
            android:label="Profile" />
        <activity
            android:name=".Register"
            android:fitsSystemWindows="true"
            android:label="Register"
            android:parentActivityName=".MainActivity"
            android:windowSoftInputMode="stateVisible|adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.fakestrgam.MainActivity" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path" />
        </provider>

        <meta-data
            android:name="com.google.firebase.ml.vision.DEPENDENCIES"
            android:value="label" />
        <!-- To use multiple models: android:value="label,model2,model3" -->
    </application>

</manifest>